# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
djvenv/
venv/
env/

# Database
db.sqlite3

# Environment Variables
.env

# Media Files / Uploads
uploads/

# Static Files
staticfiles/

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache
.pytest_cache/

.env